@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Spotify</h2>
        <ul>
            <li><a asp-area="" asp-controller="Spotify" asp-action="Login">Login to Spotify</a></li>
        </ul>
    </div>
</div>
